# See the forum post for example and documentation.
version 2;

# set your list of server admin usernames here
# admins are privileged users and will receive
# any error messages that might occur.
minetweaker.setAdmins("Myself", "MyAdminBuddy");

# Add your commands here
include "BiomesOPlenty.cfg";
include "ThermalExpansion.cfg";
include "Vanilla.cfg";
include "ExtraBees.cfg";
include "Mariculture.cfg";
include "ExtraUtilities.cfg";
include "BloodMagic.cfg";
include "MFR.cfg";
include "OreDict.cfg";
include "Harvestcraft.cfg";
include "Random.cfg";
include "Harvestcraft.cfg";
include "AE.cfg";
include "Balance.cfg";