# Configuration file

####################
# entitiesalwaysinfernal
####################
entitiesalwaysinfernal {
    B:BabyHeatscarSpider=false
    B:BlueSlime=false
    B:EntityAncientEnderman=false
    B:EntityAngrySpider=false
    B:EntityArmorCreeper=false
    B:EntityArmorSpider=false
    B:EntityBabySpider=false
    B:EntityBlaze=false
    B:EntityBlindingEnderman=false
    B:EntityBlizz=false
    B:EntityBrainyZombie=false
    B:EntityCaveSpider=false
    B:EntityConfusingEnderman=false
    B:EntityCreeper=false
    B:EntityCursedEnderman=false
    B:EntityDeathCreeper=false
    B:EntityDesertSpider=false
    B:EntityDirtCreeper=false
    B:EntityDoomCreeper=false
    B:EntityEnderCreeper=false
    B:EntityEnderman=false
    B:EntityFireBat=false
    B:EntityFireCreeper=false
    B:EntityFireSkeleton=false
    B:EntityFireZombie=false
    B:EntityFishingZombie=false
    B:EntityFlyingSpider=false
    B:EntityGatlingSkeleton=false
    B:EntityGhastMount=false
    B:EntityGiantBrainyZombie=false
    B:EntityGiantSkeleton=false
    B:EntityGiantSpider=false
    B:EntityGiantZombie=false
    B:EntityHungryZombie=false
    B:EntityIcyEnderman=false
    B:EntityJumpingCreeper=false
    B:EntityJungleSpider=false
    B:EntityLightningCreeper=false
    B:EntityLightningEnderman=false
    B:EntityMirageEnderman=false
    B:EntityMotherSpider=false
    B:EntityPaleSpider=false
    B:EntityPech=false
    B:EntityPigMount=false
    B:EntityPinkSlime=false
    B:EntityPlagueZombie=false
    B:EntityPoisonSkeleton=false
    B:EntityPoisonSpider=false
    B:EntityQuickSkeleton=false
    B:EntitySilverfish=false
    B:EntitySkeleton=false
    B:EntitySlime=false
    B:EntitySmallSpider=false
    B:EntitySpeedySpider=false
    B:EntitySpider=false
    B:EntitySpitfireSkeleton=false
    B:EntityStrikeEnderman=false
    B:EntityTaintPig=false
    B:EntityTaintacle=false
    B:EntityThaumicSlime=false
    B:EntityThiefSkeleton=false
    B:EntityToughSpider=false
    B:EntityWisp=false
    B:EntityWitch=false
    B:EntityWitchSpider=false
    B:EntityWither=false
    B:EntityZombie=false
    B:EntityZombieDog=false
    B:Entity_SpecialCreeper=false
    B:Entity_SpecialSkeleton=false
    B:Entity_SpecialSpider=false
    B:Entity_SpecialZombie=false
    B:HeatscarSpider=false
    B:NitroCreeper=false
}

####################
# entitybasehealth
####################
entitybasehealth {
    D:BlueSlime=20.0
    D:EntityAncientEnderman=120.0
    D:EntityAngrySpider=16.0
    D:EntityArmorCreeper=80.0
    D:EntityBabySpider=16.0
    D:EntityBlindingEnderman=40.0
    D:EntityBrainyZombie=25.0
    D:EntityCaveSpider=48.0
    D:EntityConfusingEnderman=40.0
    D:EntityCreeper=20.0
    D:EntityCursedEnderman=160.0
    D:EntityDeathCreeper=20.0
    D:EntityDesertSpider=32.0
    D:EntityDirtCreeper=20.0
    D:EntityDoomCreeper=20.0
    D:EntityEnderCreeper=20.0
    D:EntityEnderman=40.0
    D:EntityFireCreeper=80.0
    D:EntityFireSkeleton=20.0
    D:EntityFireZombie=20.0
    D:EntityFishingZombie=20.0
    D:EntityFlyingSpider=16.0
    D:EntityGatlingSkeleton=20.0
    D:EntityGiantSkeleton=80.0
    D:EntityGiantSpider=16.0
    D:EntityGiantZombie=400.0
    D:EntityHungryZombie=400.0
    D:EntityIcyEnderman=40.0
    D:EntityJumpingCreeper=20.0
    D:EntityJungleSpider=6.0
    D:EntityLightningCreeper=20.0
    D:EntityLightningEnderman=40.0
    D:EntityMirageEnderman=40.0
    D:EntityMotherSpider=112.0
    D:EntityPaleSpider=16.0
    D:EntityPech=30.0
    D:EntityPlagueZombie=20.0
    D:EntityPoisonSkeleton=20.0
    D:EntityPoisonSpider=64.0
    D:EntityQuickSkeleton=80.0
    D:EntitySilverfish=8.0
    D:EntitySkeleton=20.0
    D:EntitySlime=4.0
    D:EntitySmallSpider=32.0
    D:EntitySpeedySpider=16.0
    D:EntitySpider=16.0
    D:EntityStrikeEnderman=40.0
    D:EntityThaumicSlime=9.0
    D:EntityThiefSkeleton=40.0
    D:EntityToughSpider=32.0
    D:EntityWitchSpider=32.0
    D:EntityZombie=80.0
    D:Entity_SpecialCreeper=20.0
    D:Entity_SpecialSkeleton=20.0
    D:Entity_SpecialSpider=16.0
    D:Entity_SpecialZombie=20.0
    D:NitroCreeper=20.0
}

####################
# general
####################
general {
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=false
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=false
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true
    B:disableGUIoverlay=false
    S:droppedItemIDs=261,267,279,306,307,308,309,310,403
    S:droppedItemIDsElite=310,311,312,313,368,403
    S:droppedItemIDsInfernal=310,311,312,313,368,403
    S:droppedItemIDsUltra=261,292,306,307,308,309,314,315,316,317,322,377-0-3,403
    I:eliteRarity=20
    I:infernoRarity=15
    S:mobHealthFactor=1.0
    I:ultraRarity=10
    B:useSimpleEntityClassnames=true
}

####################
# permittedentities
####################
permittedentities {
    B:BabyHeatscarSpider=true
    B:BlueSlime=true
    B:EntityAncientEnderman=true
    B:EntityAngrySpider=true
    B:EntityArmorCreeper=true
    B:EntityArmorSpider=true
    B:EntityBabySpider=true
    B:EntityBlaze=true
    B:EntityBlindingEnderman=true
    B:EntityBlizz=true
    B:EntityBrainyZombie=true
    B:EntityCaveSpider=true
    B:EntityConfusingEnderman=true
    B:EntityCreeper=true
    B:EntityCursedEnderman=true
    B:EntityDeathCreeper=true
    B:EntityDesertSpider=true
    B:EntityDirtCreeper=true
    B:EntityDoomCreeper=true
    B:EntityEnderCreeper=true
    B:EntityEnderman=true
    B:EntityFireBat=true
    B:EntityFireCreeper=true
    B:EntityFireSkeleton=true
    B:EntityFireZombie=true
    B:EntityFishingZombie=true
    B:EntityFlyingSpider=true
    B:EntityGatlingSkeleton=true
    B:EntityGhastMount=true
    B:EntityGiantBrainyZombie=true
    B:EntityGiantSkeleton=true
    B:EntityGiantSpider=true
    B:EntityGiantZombie=true
    B:EntityHungryZombie=true
    B:EntityIcyEnderman=true
    B:EntityJumpingCreeper=true
    B:EntityJungleSpider=true
    B:EntityLightningCreeper=true
    B:EntityLightningEnderman=true
    B:EntityMirageEnderman=true
    B:EntityMotherSpider=true
    B:EntityPaleSpider=true
    B:EntityPech=true
    B:EntityPigMount=true
    B:EntityPinkSlime=true
    B:EntityPlagueZombie=true
    B:EntityPoisonSkeleton=true
    B:EntityPoisonSpider=true
    B:EntityQuickSkeleton=true
    B:EntitySilverfish=true
    B:EntitySkeleton=true
    B:EntitySlime=true
    B:EntitySmallSpider=true
    B:EntitySpeedySpider=true
    B:EntitySpider=true
    B:EntitySpitfireSkeleton=true
    B:EntityStrikeEnderman=true
    B:EntityTaintPig=true
    B:EntityTaintacle=true
    B:EntityThaumicSlime=true
    B:EntityThiefSkeleton=true
    B:EntityToughSpider=true
    B:EntityWisp=true
    B:EntityWitch=true
    B:EntityWitchSpider=true
    B:EntityWither=true
    B:EntityZombie=true
    B:EntityZombieDog=true
    B:Entity_SpecialCreeper=true
    B:Entity_SpecialSkeleton=true
    B:Entity_SpecialSpider=true
    B:Entity_SpecialZombie=true
    B:HeatscarSpider=true
    B:NitroCreeper=true
}